.container{
  text-align: center;
  margin-top: 30%;

}
.header {
  text-align: center;
  padding: 20px 0;
}

.title {
  font-size: 30px;
  color: #333;
}






.animated-title {
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  0% {
    color: blue;
    transform: scale(1);
  }
  50% {
    color: purple;
    transform: scale(1.2);
  }
  100% {
    color: blue;
    transform: scale(1);
  }
}
